* {
  margin: 0px;
  font-family: "inter";
}

#logo {
  margin-left: 50px;
  margin-top: 50px;
}

#título-menu-superior {
  margin-left: 150px;
  margin-top: 50px;
}

#texto-menu-superior {
  margin-left: 150px;
  margin-top: 35px;
  padding-bottom: 100px;
}

#menusuperior {
  background-image: url(imagens/fundo-menusuperior.svg);
  color: aliceblue;
}

#menuinformacional {
  background-color: #eaece5;
  display: grid;
  grid-auto-flow: column;
  columns: auto;
}

.ícones {
  margin: 50px 0px 50px 100px;
  padding: 25px;
}

#secaovideo {
  display: grid;
  grid-auto-flow: column;
  columns: auto;
}

.textoinformativo {
  display: flex;
  align-items: center;
}

#titulovideo {
  color: #247ba0;
  margin-top: 50px;
}

#video {
  margin: 50px 25px 50px 100px;
}

#carrossel {
  background-color: #247ba0;
  padding: 50px;
}

#titulo-carrossel {
  color: white;
  text-align: center;
  font-size: 25px;
}

#div-cards {
  margin-top: 50px;
  margin-left: 300px;
  display: grid;
  grid-auto-flow: column;
}

.cards {
  height: 200px;
}

#seta-esquerda {
  display: none;
}

#bruna {
  display: none;
}

.seta {
  margin-top: 25%;
  cursor: pointer;
}

.seta:hover {
  transform: translateY(-7px);
  transition-duration: 0.2s;
}

#formulario {
  text-align: center;
}

#titulo-formulario {
  font-size: 25px;
  margin: 25px;
  color: #383838;
}

input {
  width: 300px;
  height: 40px;
  background-color: #eaece5;
  margin: 15px;
  border: 0px;
  border-radius: 5px;
  padding-left: 10px;
}

button {
  background-color: #247ba0;
  height: 40px;
  width: 250px;
  color: #eaece5;
  border: 0px;
  border-radius: 5px;
  margin-bottom: 50px;
  font-weight: bolder;
  cursor: pointer;
}

button:hover {
  background-color: #318fb8;
  color: white;
  transform: translateY(-7px);
  box-shadow: 0px 15px 20px #05103086;
  transition-duration: 0.5s;
}
